<!DOCTYPE html>
<html lang="pt-br" xmlns= "http://www.w3.org/1999/xhtml"
	xmlns:th= "http://www.thymeleaf.org"> 
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="cadastroElogin/css/cadastro.css">
	<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Recuperar Senha</title>
</head>
<body>
	<div class="login">
		<div class="header-section">
			<h1 style="text-align: center;"><strong>Recuperar Senha</strong></h1>
		</div><br/><br/>
		<form th:action="@{/recuperar-senha}"  method="post">		
		<div class="form-group">
			<input type="text"  name="email" id="email" class="form-control"  required size="45" />
			<label for="">Email:</label>
		</div><br/>
		<div class="btn-group">
			<button type="submit" class="btn-login">Enviar</button>
		</div>
       </form>	
	</div>
	
	<script> 
		function isEmail(inputEmail) {
    	var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			return regex.test(inputEmail);
		}
		function validatePassword(inputPassword) {
			return inputPassword.length > 4;
		}

		$(document).ready(function(){
    		$('#email').change(function(){
        	var email = $(this).val().trim();
        // alert(`email = ${JSON.stringify(email)}`)
        	if(!isEmail(email)) {
       //Error?
           	$(".emailError").html("O formato do email não é válido!");
        } else {
            $(".emailError").html("");
        }
    });
</script>
	
</body>
</html>
