<!DOCTYPE html>
<html lang="pt-br" xmlns= "http://www.w3.org/1999/xhtml"
	xmlns:th= "http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="cadastroElogin/css/recuperarSenha.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script type="text/javascript" src="js/localization/messages_pt_BR.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

</head>
<body>
	<div class="login">
		<div class="header-section">
			<h1 style="text-align: center;"><strong>Recuperar senha</strong></h1>
		</div>
		<form th:action="@{/recuperar-senha}" id="form-senha" method="post">
		<br>
		<div class="form-group">
			<label for="">Digite seu email:</label>
			<input type="email" class="form-control" name="email" id="inputEmail"  required>
		</div>
		<br>
		<div class="btn-group">
			<button type="submit" class="btn-login">Enviar</button>
			<div class="clear"></div>
		</div>		 
 	    </form>
 	  </div> 
 	  	<script type="text/javascript" src="js/validacao.js"></script>	   
</body>
</html>
